<!DOCTYPE html>
<html>
<head>
  <title>Employee Scheduler</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag '/assets/dijit/themes/claro/claro.css' %>
  <%= javascript_include_tag "dojo/dojo", :'data-dojo-config' => 'async: true' %>
  <%= csrf_meta_tags %>
</head>
<body class='claro'>
  <% if !@needs_login %>
    <%= yield %>
  <% else %>
    <%= render "login/login_partial" %>
  <% end %>
</body>
</html>
